<!DOCTYPE html>
<html style="height: 100%">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/custom.css" type="text/css">
    <title> Teriffic Teraffic </title>
    </head>
  <body style="padding-top: 1rem;">
  <center>
  <h1 class="display-4"> TRAFFIC INFORMATION BY MEDIA MARKETS </h1>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col">
        <button type="button" class="btn btn-secondary categorybtn" id='mpv'> Miles Per Vehicle </button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-secondary categorybtn" id='acc'> Annual Congestion Cost </button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-secondary categorybtn" id='csi'> Commuter Stress Index </button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-secondary categorybtn" id='ahd'> Annual Hours of Delay </button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-secondary categorybtn" id='efc'> Excess Fuel Consumed </button>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-9">
        <div id="mapContainer" class="card" style="height: 500px;">
        </div>
      </div>
      <div class="col-3">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="card infobox" style="height: 160px;">
                <div class="text-left">
                <center> <h5 id="name" style="font-size: 20px;"> New York, NY </h4> </center>
                <hr class="linethingy">
                <p style="font-size: 14px;">
                Miles per Vehicle:
                <br>
                Annual Congestion Cost:
                <br>
                Commuter Stress Index:
                <br>
                Annual Hours of Delay:
                <br>
                Excuess Fuel Consumed:
                </p>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col">
              <div class="card" style="height: 320px;">
                <table class="table table-striped">

  <thead class="ranklabel">
    <tr>
      <th scope="col">rank</th>
      <th scope="col">region</th>
    </tr>
  </thead>
  <tbody style:"height:150px; overflow-y: scroll;">
    <tr class="rowtext">
      <th scope="row">1</th>
      <td>New York</td>
    </tr>
    <tr class="rowtext">
      <th scope="row">2</th>
      <td>Not New York</td>
    </tr>
    <tr class="rowtext">
      <th scope="row">3</th>
      <td>Not New York</td>
    </tr>
    <tr class="rowtext">
      <th scope="row">3</th>
      <td>Not New York</td>
    </tr>
    <tr class="rowtext">
      <th scope="row">3</th>
      <td>Not New York</td>
    </tr>
    <tr class="rowtext">
      <th scope="row">3</th>
      <td>Not New York</td>
    </tr>
    <tr class="rowtext">
      <th scope="row">3</th>
      <td>Not New York</td>
    </tr>
    <tr class="rowtext">
      <th scope="row">3</th>
      <td>Not New York</td>
    </tr>
    <tr class="rowtext">
      <th scope="row">3</th>
      <td>Not New York</td>
    </tr>

    <tr class="rowtext">
      <th scope="row">3</th>
      <td>Not New York</td>
    </tr>
  </tbody>
</table>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h4> TIME </h4>
    <div class="row">
      <div class="col">
        <form>
          <div class="form-group">
            <input type="range" class="form-control-range" data-slider-min="1982" data-slider-max="2014"/>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="text-left"> 1982 </p>
      </div>
      <div class="col">
        <p class="text-right"> 2014 </p>
      </div>
    </div>

    <h4> SOURCES </h4>
  </div>
  </center>
  <!-- libs -->
  <script src="https://unpkg.com/topojson@3"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>

  <!-- our code -->
  <script src="static/js/buttons.js"></script>
  <script src="static/js/map.js"></script>
  </body>
</html>
